<div class="flex flex-col items-center justify-start min-h-screen text-white">
  <h1 class="text-4xl font-bold my-6 w-full text-center py-4 text-white">新規登録</h1>
  <div class="text-center w-full"  style="margin-top: 80px;">
    <%= render 'form', task: @task %>
  </div>
</div>