<footer class="flex flex-col items-center py-5 h-32 text-neutral-content">
  <div class="flex items-center text-white text-xs md:text-sm">
      <%= link_to '利用規約', "#", class: "mx-5 my-4 hover:text-blue-600 transition duration-300 underline"%>
      <p>|<p>
      <%= link_to 'プライバシーポリシー', "#", class: "mx-5 my-4 hover:text-blue-600 transition duration-300 underline"%>
      <p>|<p>
      <%= link_to "お問い合わせ",
                "#",
                target: '_blank',
                rel: 'noopener noreferrer',
                class: 'mx-5 my-4 hover:text-blue-600 transition duration-300 underline' %>
  </div>
  <div class="mt-4 text-sm">
    <p class="copyright flex mt-2">
      © <%= Time.current.year %>  All Rights Reserved.
    </p>
  </div>
</footer>