<header class="bg-red-500 flex flex-row justify-between items-center h-20 relative text-white ">
  <div class="ml-4 md:mx-5 hover:text-blue-600 transition duration-300 text-lg">
    <%= link_to 'ポートフォリオ', root_path, class: "btn btn-primary" %>
  </div>

  <div class="lex items-center space-x-3 lg:mx-5">
    <%= link_to '記事投稿', "#", class: "btn" %>
    <%= link_to 'マイページ', "#", class: "btn" %>
    <%= link_to 'ログアウト', "#", class: "btn" %>
  </div>
</header>